@font-face {
  font-family: 'Fontin-SmallCaps';
  src: url('./fonts/Fontin-SmallCaps.WOFF') format('WOFF');
}

.text--normal {
  color: rgb(200, 200, 200);
}

.text--magic {
  color: rgb(137, 136, 255);
}

.text--rare {
  color: rgb(255, 255, 119);
}

.text--currency {
  color: rgb(170, 158, 129);
}

.text--descriptor {
  color: rgb(128, 128, 128);
}

.text--corrupt {
  color: rgb(255, 0, 0);
}

.text--fire {
  color: rgb(150, 0, 0);
}

.text--cold {
  color: rgb(54, 99, 146);
}

.text--light {
  color: rgb(255, 215, 0);
}

.text--chaos {
  color: rgb(207, 32, 143);
}

.text--crafted {
  color: rgb(184, 218, 241);
}

.text--flavor {
  font-style: italic;
}

.text--title {
  line-height: 31px;
  font-size: 14.25pt;
  padding-left: 45px;
  padding-right: 45px;
}

.text--title-2 {
  line-height: 16px;
  font-size: 14.25pt;
  padding-left: 45px;
  padding-right: 45px;
}

.item-stats {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}

.title-bar--normal {
  background: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/ItemsHeaderWhiteMiddle.png?scale=1)
    top left repeat-x;
  height: 33px;
  position: relative;
}

.title-bar-left--normal {
  background: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/ItemsHeaderWhiteLeft.png?scale=1)
    top left no-repeat;
  left: 0;
  height: 33px;
  width: 29px;
  position: absolute;
}

.title-bar-right--normal {
  background-image: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/ItemsHeaderWhiteRight.png?scale=1);
  right: 0;
  height: 33px;
  width: 29px;
  position: absolute;
}

.item-separator--normal {
  background-image: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/ItemsSeparatorWhite.png?scale=1);
  margin: auto;
  width: 200px;
  height: 8px;
}

.title-bar--magic {
  background: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/ItemsHeaderMagicMiddle.png?scale=1)
    top left repeat-x;
  height: 33px;
  position: relative;
}

.title-bar-left--magic {
  background: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/ItemsHeaderMagicLeft.png?scale=1)
    top left no-repeat;
  left: 0;
  height: 33px;
  width: 29px;
  position: absolute;
}

.title-bar-right--magic {
  background-image: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/ItemsHeaderMagicRight.png?scale=1);
  right: 0;
  height: 33px;
  width: 29px;
  position: absolute;
}

.item-separator--magic {
  background-image: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/ItemsSeparatorMagic.png?scale=1);
  margin: auto;
  width: 200px;
  height: 8px;
}

.title-bar--rare {
  background: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/ItemsHeaderRareMiddle.png?scale=1)
    top left repeat-x;
  height: 54px;
  position: relative;
}

.title-bar-left--rare {
  background: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/ItemsHeaderRareLeft.png?scale=1)
    top left no-repeat;
  left: 0;
  height: 54px;
  width: 44px;
  position: absolute;
}

.title-bar-right--rare {
  background-image: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/ItemsHeaderRareRight.png?scale=1);
  right: 0;
  height: 54px;
  width: 44px;
  position: absolute;
}

.item-separator--rare {
  background-image: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/ItemsSeparatorRare.png?scale=1);
  margin: auto;
  width: 200px;
  height: 8px;
  padding: 1px;
}

.title-bar--currency {
  background: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/ItemsHeaderCurrencyMiddle.png?scale=1)
    top left repeat-x;
  height: 33px;
  position: relative;
}

.title-bar-left--currency {
  background: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/ItemsHeaderCurrencyLeft.png?scale=1)
    top left no-repeat;
  left: 0;
  height: 33px;
  width: 29px;
  position: absolute;
}

.title-bar-right--currency {
  background-image: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/ItemsHeaderCurrencyRight.png?scale=1);
  right: 0;
  height: 33px;
  width: 29px;
  position: absolute;
}

.item-separator--currency {
  background-image: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/ItemsSeparatorCurrency.png?scale=1);
  margin: auto;
  width: 200px;
  height: 8px;
}

.item-box {
  font-family: 'Fontin-SmallCaps';
  font-variant-ligatures: none;
  position: relative;
  left: -50%;
  transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-size: 10.875pt;
  white-space: nowrap;
  z-index: 2;
}

.currency-tooltip {
  font-family: 'Fontin-SmallCaps';
  font-variant-ligatures: none;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-size: 10.875pt;
  white-space: nowrap;
  margin-bottom: -10%;
  z-index: 2;
}

.game-tab {
  cursor: url('../assets/cursor.png') 0 0, default;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-pointer-events {
  pointer-events: none;
}

.rect-capture:hover {
  fill: #041e04;
}

.currency-text {
  font-family: 'Fontin-SmallCaps';
  font-variant-ligatures: none;
  font-size: 28pt;
  fill: rgb(255, 255, 255);
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black;
}

.crafting-text {
  font-family: 'Fontin-SmallCaps';
  font-variant-ligatures: none;
  font-size: 28pt;
  fill: rgb(254, 192, 118);
}

.crafting-text-gray {
  font-family: 'Fontin-SmallCaps';
  font-variant-ligatures: none;
  font-size: 28pt;
  fill: rgb(128, 128, 128);
}

.crafting-text-red {
  font-family: 'Fontin-SmallCaps';
  font-variant-ligatures: none;
  font-size: 28pt;
  fill: rgb(255, 0, 0);
}